/*-----------
    RESET
------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-----------
    GENERAL
------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.bg-gray {
    background-color: #f6f6f6;
}

/*-----------
    BUTTONS
------------*/
.btn {
    border-radius: 20px;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn > i {
    margin-right: 6px;
}
.btn-large {
    padding: 12px 22px;
    font-size: 16px;
}

.btn-white {
    background-color: #fff;
}
.btn-black {
    background-color: #23272a;
    color: #fff;
}
.btn-violet {
    background-color: #8ea1e1;
    color: #fff;
}

/*-----------
    TYPOGRAPHY
------------*/
body {
    font-family: "Roboto", serif;
    line-height: 1.5;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 26px
}

/*-----------
    HEADER
------------*/
header {
    color: #fff;
}
.header-top {
    background-color: #255EE8;
    padding: 16px 0;
}

.header-bottom {
    padding: 150px 0;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

.hero-buttons .btn:first-child {
    margin-right: 12px;
}

.header-top > .container {
    display: flex;
    align-items: center;
}

.header-top .logo,
.header-top nav,
.header-top .login {
    padding: 6px;
}

.header-top .logo, .header-top .login {
    width: 20%;
}

.header-top .login {
    text-align: right;
}

.header-top .main-nav {
    width: 60%;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px
}

.main-nav ul a {
    text-decoration: none;
    color: inherit
}

.header-bottom .hero {
    max-width: 720px;
    text-align: center;
}

.header-bottom .hero > p {
    margin-top: 30px;
    margin-bottom: 16px;
}

/*-----------
    MAIN
------------*/
section {
    padding: 50px 0;
}

section .container.has-cols {
    display: flex;
}

section:nth-child(2n) {
    background-color: #f6f6f6;
}

section .col-big.content-right {
    text-align: right;
}

/* section:not(:last-child) > .container {
    display: flex;
} */

section:last-child {
    text-align: center;
}

section .col-big {
    width: 70%;
}
section .col-small {
    width: 30%;
}

section h2 {
    margin: 22px 0;
}

section h3 {
    margin-bottom: 20px;
}

#title-stars {
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 30px;
}

/*-----------
    FOOTER
------------*/
footer {
    background-color: #23272a;
}

.footer-top {
    padding-top: 10px;
    padding-bottom: 30px;
}

.footer-top > .container {
    display: flex;
}

.footer-top .col-small {
    width: 30%;
}
.footer-top .col-big {
    width: 70%;
    display: flex;
}

.footer-top .col-big > .col-inner {
    width: 25%;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid #ffffff;
}

.footer-bottom > .container {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.footer-bottom .logo,
.footer-bottom .btn {
    padding: 6px 14px;
}